<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appstoretechnology">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppStoreTechnology">
        <activity android:name=".FormProductoActivity" android:label="Mantenimiento productos">

        </activity>
        <activity
            android:name=".FormCategoriaActivity"
            android:label="Mantenimiento categorias" />
        <activity
            android:name=".FormProveedorActivity"
            android:label="Mantenimiento proveedores" />
        <activity
            android:name=".MisPedidosActivity"
            android:label="Mis pedidos" />
        <activity
            android:name=".MiCarritoActivity"
            android:label="Mi carrito" />
        <activity
            android:name=".ManReporteVentasActivity"
            android:label="Reporte de ventas" />
        <activity
            android:name=".ManListUsuariosActivity"
            android:label="Listado de usuarios" />
        <activity
            android:name=".ManProductosActivity"
            android:label="Mantenimiento productos" />
        <activity
            android:name=".ManCateagoriasActivity"
            android:label="Mantenimiento categorias" />
        <activity
            android:name=".ManProveedoresActivity"
            android:label="Mantenimiento proveedores" />
        <activity
            android:name=".PanelControlActivity"
            android:label="Panel de control" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrincipalActivity"
            android:label="Store Technology" />
        <activity
            android:name=".FormUsuarioActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>